services:
  backend:
    build: ./backend
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
      
    networks:
      - minha_rede

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8880:80"
    networks:
      - minha_rede
   
networks:
  minha_rede:
    driver: bridge